{
    "openapi":  "3.0.0",
    "info":  {
                 "title":  "API Connection - Software I.A",
                 "description":  "Welcome! Here you will have access to integration information that will help you in your development process in addition to all the API references for our AI system.\n\nTo use the API, all endpoints require authentication. The scheme \"Authorization: Bearer \u003cyour apiKey\u003e\" must be sent in the header of all calls.\n\nThis is the base link for all endpoints: https://xltw-api6-8lww.b2.xano.io/api:5ONttZdQ\n\nTo check your API key, simply access your login to the system, navigate to the profile tab, scroll to the credentials part and click on display apiKey.\n\nWe recommend using a ZAPIER, PLUGA or INTEGROMAT type integrator. Through these services you will be able to use our software connected to thousands of solutions. Our support team can help you via WhatsApp: +55 11 93623-4349\n\nNew features are being developed and will be released soon.\n\n--------------------------------------\n\nSeja bem-vindo(a)! Aqui você terá acesso as informações de integração que irão te ajudar no seu processo de desenvolvimento além de toda a referência da API do sistema de I.A contratado. \n\nPara utilizar a API, todos endpoints exigem autenticação. O esquema \"Authorization: Bearer \u003csua apiKey\u003e\" deve ser enviado no header de todas as chamadas.\n\nEsse é o link base para todos os endpoints: https://xltw-api6-8lww.b2.xano.io/api:5ONttZdQ\n\nPara consultar sua chave API, basta acessar seu login no sistema, navegar até a aba perfil, rolar até a parte de credênciais e clicar em exibir apiKey.\n\nAconselhamos a utilização um integrador do tipo ZAPIER, PLUGA ou INTEGROMAT. Através desses serviços você conseguira utilizar nosso software conectado a milhares de soluções. Nosso time de suporte pode te ajudar através do whatsapp: +55 11 93623-4349\n\nNovos recursos estão sendo desenvolvidos e serão lançados em breve.",
                 "version":  "0.0.1"
             },
    "servers":  [
                    {
                        "url":  "https://xltw-api6-8lww.b2.xano.io/api:5ONttZdQ"
                    }
                ],
    "components":  {
                       "securitySchemes":  {
                                               "bearerAuth":  {
                                                                  "type":  "http",
                                                                  "scheme":  "bearer",
                                                                  "bearerFormat":  "JWT"
                                                              }
                                           },
                       "schemas":  {

                                   }
                   },
    "paths":  {
                  "/aiTraining/conversation/{trainingId}":  {
                                                                "delete":  {
                                                                               "operationId":  "API Connection - Software I.A/aiTraining/conversation/{trainingId}|DELETE",
                                                                               "summary":  "Delete a conversation training.\n\nDeleta um treinamento de conversação.",
                                                                               "description":  "Delete a conversation training.\n\nDeleta um treinamento de conversação.\n\u003cbr /\u003e\u003cbr /\u003e\n\u003cb\u003eAuthentication:\u003c/b\u003e not required",
                                                                               "tags":  [
                                                                                            "aiTraining"
                                                                                        ],
                                                                               "security":  [

                                                                                            ],
                                                                               "parameters":  [
                                                                                                  {
                                                                                                      "name":  "trainingId",
                                                                                                      "in":  "path",
                                                                                                      "description":  "ID of the Conversation Training that will be deleted.\n\nTítulo do Treinamento de Conversasão que será deletado.",
                                                                                                      "required":  true,
                                                                                                      "schema":  {
                                                                                                                     "type":  "integer",
                                                                                                                     "format":  "int64"
                                                                                                                 }
                                                                                                  }
                                                                                              ],
                                                                               "responses":  {
                                                                                                 "200":  {
                                                                                                             "description":  "Success!",
                                                                                                             "content":  {
                                                                                                                             "application/json":  {
                                                                                                                                                      "schema":  {
                                                                                                                                                                     "type":  "object",
                                                                                                                                                                     "properties":  {
                                                                                                                                                                                        "result":  {
                                                                                                                                                                                                       "type":  "string"
                                                                                                                                                                                                   }
                                                                                                                                                                                    }
                                                                                                                                                                 }
                                                                                                                                                  }
                                                                                                                         }
                                                                                                         },
                                                                                                 "400":  {
                                                                                                             "description":  "Input Error. Check the request payload for issues."
                                                                                                         },
                                                                                                 "401":  {
                                                                                                             "description":  "Unauthorized"
                                                                                                         },
                                                                                                 "403":  {
                                                                                                             "description":  "Access denied. Additional privileges are needed access the requested resource."
                                                                                                         },
                                                                                                 "404":  {
                                                                                                             "description":  "Not Found. The requested resource does not exist."
                                                                                                         },
                                                                                                 "429":  {
                                                                                                             "description":  "Rate Limited. Too many requests."
                                                                                                         },
                                                                                                 "500":  {
                                                                                                             "description":  "Unexpected error"
                                                                                                         }
                                                                                             }
                                                                           }
                                                            },
                  "/aiTraining/conversation":  {
                                                   "get":  {
                                                               "operationId":  "API Connection - Software I.A/aiTraining/conversation|GET",
                                                               "summary":  "Query conversational training from an account assistant.\n\nBusca treinamentos de conversação do assistente de uma conta.",
                                                               "description":  "Query conversational training from an account assistant.\n\nBusca treinamentos de conversação do assistente de uma conta.\n\u003cbr /\u003e\u003cbr /\u003e\n\u003cb\u003eAuthentication:\u003c/b\u003e not required",
                                                               "tags":  [
                                                                            "aiTraining"
                                                                        ],
                                                               "security":  [

                                                                            ],
                                                               "parameters":  [
                                                                                  {
                                                                                      "name":  "page",
                                                                                      "in":  "query",
                                                                                      "description":  "List page you want to query.\n\nPágina da lista que você deseja consultar.",
                                                                                      "required":  false,
                                                                                      "schema":  {
                                                                                                     "type":  "integer",
                                                                                                     "format":  "int64",
                                                                                                     "default":  "1"
                                                                                                 }
                                                                                  },
                                                                                  {
                                                                                      "name":  "perPage",
                                                                                      "in":  "query",
                                                                                      "description":  "Items per page.\n\nItens por página.",
                                                                                      "required":  false,
                                                                                      "schema":  {
                                                                                                     "type":  "integer",
                                                                                                     "format":  "int64",
                                                                                                     "default":  "50"
                                                                                                 }
                                                                                  },
                                                                                  {
                                                                                      "name":  "search",
                                                                                      "in":  "query",
                                                                                      "description":  "Search keywords for the training you wish to search for.\n\nPalavras chaves de busca do treinamento que deseja buscar.",
                                                                                      "required":  false,
                                                                                      "schema":  {
                                                                                                     "type":  "string",
                                                                                                     "default":  ""
                                                                                                 }
                                                                                  }
                                                                              ],
                                                               "responses":  {
                                                                                 "200":  {
                                                                                             "description":  "Success!",
                                                                                             "content":  {
                                                                                                             "application/json":  {
                                                                                                                                      "schema":  {
                                                                                                                                                     "type":  "object",
                                                                                                                                                     "properties":  {
                                                                                                                                                                        "itemsReceived":  {
                                                                                                                                                                                              "type":  "integer",
                                                                                                                                                                                              "format":  "int64",
                                                                                                                                                                                              "description":  ""
                                                                                                                                                                                          },
                                                                                                                                                                        "curPage":  {
                                                                                                                                                                                        "type":  "integer",
                                                                                                                                                                                        "format":  "int64",
                                                                                                                                                                                        "description":  ""
                                                                                                                                                                                    },
                                                                                                                                                                        "nextPage":  {
                                                                                                                                                                                         "type":  "integer",
                                                                                                                                                                                         "format":  "int64",
                                                                                                                                                                                         "description":  "",
                                                                                                                                                                                         "nullable":  true
                                                                                                                                                                                     },
                                                                                                                                                                        "prevPage":  {
                                                                                                                                                                                         "type":  "integer",
                                                                                                                                                                                         "format":  "int64",
                                                                                                                                                                                         "description":  "",
                                                                                                                                                                                         "nullable":  true
                                                                                                                                                                                     },
                                                                                                                                                                        "offset":  {
                                                                                                                                                                                       "type":  "integer",
                                                                                                                                                                                       "format":  "int64",
                                                                                                                                                                                       "description":  ""
                                                                                                                                                                                   },
                                                                                                                                                                        "itemsTotal":  {
                                                                                                                                                                                           "type":  "integer",
                                                                                                                                                                                           "format":  "int64",
                                                                                                                                                                                           "description":  ""
                                                                                                                                                                                       },
                                                                                                                                                                        "pageTotal":  {
                                                                                                                                                                                          "type":  "integer",
                                                                                                                                                                                          "format":  "int64",
                                                                                                                                                                                          "description":  ""
                                                                                                                                                                                      },
                                                                                                                                                                        "items":  {
                                                                                                                                                                                      "type":  "array",
                                                                                                                                                                                      "items":  "@{type=object; properties=}"
                                                                                                                                                                                  }
                                                                                                                                                                    }
                                                                                                                                                 }
                                                                                                                                  }
                                                                                                         }
                                                                                         },
                                                                                 "400":  {
                                                                                             "description":  "Input Error. Check the request payload for issues."
                                                                                         },
                                                                                 "401":  {
                                                                                             "description":  "Unauthorized"
                                                                                         },
                                                                                 "403":  {
                                                                                             "description":  "Access denied. Additional privileges are needed access the requested resource."
                                                                                         },
                                                                                 "404":  {
                                                                                             "description":  "Not Found. The requested resource does not exist."
                                                                                         },
                                                                                 "429":  {
                                                                                             "description":  "Rate Limited. Too many requests."
                                                                                         },
                                                                                 "500":  {
                                                                                             "description":  "Unexpected error"
                                                                                         }
                                                                             }
                                                           },
                                                   "post":  {
                                                                "operationId":  "API Connection - Software I.A/aiTraining/conversation|POST",
                                                                "summary":  "Create or edit conversation training for your account\u0027s virtual assistant.\n\nCrie ou edite um treinamento de conversação para o assistente virtual da conta.",
                                                                "description":  "Create or edit conversation training for your account\u0027s virtual assistant.\n\nCrie ou edite um treinamento de conversação para o assistente virtual da conta.\n\u003cbr /\u003e\u003cbr /\u003e\n\u003cb\u003eAuthentication:\u003c/b\u003e not required",
                                                                "tags":  [
                                                                             "aiTraining"
                                                                         ],
                                                                "security":  [

                                                                             ],
                                                                "parameters":  [

                                                                               ],
                                                                "responses":  {
                                                                                  "200":  {
                                                                                              "description":  "Success!",
                                                                                              "content":  {
                                                                                                              "application/json":  {
                                                                                                                                       "schema":  {
                                                                                                                                                      "type":  "object",
                                                                                                                                                      "properties":  {
                                                                                                                                                                         "id":  {
                                                                                                                                                                                    "type":  "integer",
                                                                                                                                                                                    "format":  "int64",
                                                                                                                                                                                    "description":  ""
                                                                                                                                                                                },
                                                                                                                                                                         "created_at":  {
                                                                                                                                                                                            "type":  "number",
                                                                                                                                                                                            "format":  "timestamptz",
                                                                                                                                                                                            "description":  "",
                                                                                                                                                                                            "default":  "now"
                                                                                                                                                                                        },
                                                                                                                                                                         "titulo":  {
                                                                                                                                                                                        "type":  "string",
                                                                                                                                                                                        "description":  ""
                                                                                                                                                                                    },
                                                                                                                                                                         "descricao":  {
                                                                                                                                                                                           "type":  "string",
                                                                                                                                                                                           "description":  ""
                                                                                                                                                                                       },
                                                                                                                                                                         "texto_completo":  {
                                                                                                                                                                                                "type":  "string",
                                                                                                                                                                                                "description":  ""
                                                                                                                                                                                            },
                                                                                                                                                                         "tipo":  {
                                                                                                                                                                                      "type":  "string",
                                                                                                                                                                                      "description":  "",
                                                                                                                                                                                      "enum":  "contato preco descricao geral horario entrega reserva produto conversacao regras_fixadas cascata lista_precos servico regras_fixadas_antiga video pdf audio website"
                                                                                                                                                                                  },
                                                                                                                                                                         "ativo":  {
                                                                                                                                                                                       "type":  "boolean",
                                                                                                                                                                                       "description":  "",
                                                                                                                                                                                       "default":  "1"
                                                                                                                                                                                   }
                                                                                                                                                                     }
                                                                                                                                                  }
                                                                                                                                   }
                                                                                                          }
                                                                                          },
                                                                                  "400":  {
                                                                                              "description":  "Input Error. Check the request payload for issues."
                                                                                          },
                                                                                  "401":  {
                                                                                              "description":  "Unauthorized"
                                                                                          },
                                                                                  "403":  {
                                                                                              "description":  "Access denied. Additional privileges are needed access the requested resource."
                                                                                          },
                                                                                  "404":  {
                                                                                              "description":  "Not Found. The requested resource does not exist."
                                                                                          },
                                                                                  "429":  {
                                                                                              "description":  "Rate Limited. Too many requests."
                                                                                          },
                                                                                  "500":  {
                                                                                              "description":  "Unexpected error"
                                                                                          }
                                                                              },
                                                                "requestBody":  {
                                                                                    "content":  {
                                                                                                    "application/json":  {
                                                                                                                             "schema":  {
                                                                                                                                            "type":  "object",
                                                                                                                                            "properties":  {
                                                                                                                                                               "title":  {
                                                                                                                                                                             "type":  "string",
                                                                                                                                                                             "description":  "Title of the Conversation Training that will be created/edited.\n\nTítulo do Treinamento de Conversasão que será criado/editado."
                                                                                                                                                                         },
                                                                                                                                                               "description":  {
                                                                                                                                                                                   "type":  "string",
                                                                                                                                                                                   "description":  "Description of the Conversation Training that will be created/edited.\n\nDescrição do Treinamento de Conversasão que será criado/editado."
                                                                                                                                                                               },
                                                                                                                                                               "trainingId":  {
                                                                                                                                                                                  "type":  "integer",
                                                                                                                                                                                  "format":  "int64",
                                                                                                                                                                                  "description":  "ID of the Conversation Training that will be edited. Must be 0 when creating a new training.\n\nTítulo do Treinamento de Conversasão que será criado/editado. Deve ser 0 quando estiver criando um novo treinamento."
                                                                                                                                                                              },
                                                                                                                                                               "active":  {
                                                                                                                                                                              "type":  "boolean",
                                                                                                                                                                              "description":  "Boolean indicating whether the training will be active or not.\n\nBooleano indicando se o treinamento ficará ativo ou não."
                                                                                                                                                                          }
                                                                                                                                                           },
                                                                                                                                            "required":  [
                                                                                                                                                             "title",
                                                                                                                                                             "description",
                                                                                                                                                             "trainingId",
                                                                                                                                                             "active"
                                                                                                                                                         ]
                                                                                                                                        }
                                                                                                                         },
                                                                                                    "multipart/form-data":  {
                                                                                                                                "schema":  {
                                                                                                                                               "type":  "object",
                                                                                                                                               "properties":  {
                                                                                                                                                                  "title":  {
                                                                                                                                                                                "type":  "string",
                                                                                                                                                                                "description":  "Title of the Conversation Training that will be created/edited.\n\nTítulo do Treinamento de Conversasão que será criado/editado."
                                                                                                                                                                            },
                                                                                                                                                                  "description":  {
                                                                                                                                                                                      "type":  "string",
                                                                                                                                                                                      "description":  "Description of the Conversation Training that will be created/edited.\n\nDescrição do Treinamento de Conversasão que será criado/editado."
                                                                                                                                                                                  },
                                                                                                                                                                  "trainingId":  {
                                                                                                                                                                                     "type":  "integer",
                                                                                                                                                                                     "format":  "int64",
                                                                                                                                                                                     "description":  "ID of the Conversation Training that will be edited. Must be 0 when creating a new training.\n\nTítulo do Treinamento de Conversasão que será criado/editado. Deve ser 0 quando estiver criando um novo treinamento."
                                                                                                                                                                                 },
                                                                                                                                                                  "active":  {
                                                                                                                                                                                 "type":  "boolean",
                                                                                                                                                                                 "description":  "Boolean indicating whether the training will be active or not.\n\nBooleano indicando se o treinamento ficará ativo ou não."
                                                                                                                                                                             }
                                                                                                                                                              },
                                                                                                                                               "required":  [
                                                                                                                                                                "title",
                                                                                                                                                                "description",
                                                                                                                                                                "trainingId",
                                                                                                                                                                "active"
                                                                                                                                                            ]
                                                                                                                                           }
                                                                                                                            }
                                                                                                }
                                                                                }
                                                            }
                                               },
                  "/aiTraining/newModel":  {
                                               "get":  {
                                                           "operationId":  "API Connection - Software I.A/aiTraining/newModel|GET",
                                                           "summary":  "GET the full text block from an agent.\n\nObtém o bloco de texto completo de treinamento do agente da conta.",
                                                           "description":  "GET the full text block from an agent.\n\nObtém o bloco de texto completo de treinamento do agente da conta.\n\u003cbr /\u003e\u003cbr /\u003e\n\u003cb\u003eAuthentication:\u003c/b\u003e not required",
                                                           "tags":  [
                                                                        "aiTraining"
                                                                    ],
                                                           "security":  [

                                                                        ],
                                                           "parameters":  [

                                                                          ],
                                                           "responses":  {
                                                                             "200":  {
                                                                                         "description":  "Success!",
                                                                                         "content":  {
                                                                                                         "application/json":  {
                                                                                                                                  "schema":  {
                                                                                                                                                 "type":  "object",
                                                                                                                                                 "properties":  {
                                                                                                                                                                    "id":  {
                                                                                                                                                                               "type":  "integer",
                                                                                                                                                                               "format":  "int64",
                                                                                                                                                                               "description":  ""
                                                                                                                                                                           },
                                                                                                                                                                    "text":  {
                                                                                                                                                                                 "type":  "string",
                                                                                                                                                                                 "description":  ""
                                                                                                                                                                             },
                                                                                                                                                                    "markdownText":  {
                                                                                                                                                                                         "type":  "string",
                                                                                                                                                                                         "description":  ""
                                                                                                                                                                                     }
                                                                                                                                                                }
                                                                                                                                             }
                                                                                                                              }
                                                                                                     }
                                                                                     },
                                                                             "400":  {
                                                                                         "description":  "Input Error. Check the request payload for issues."
                                                                                     },
                                                                             "401":  {
                                                                                         "description":  "Unauthorized"
                                                                                     },
                                                                             "403":  {
                                                                                         "description":  "Access denied. Additional privileges are needed access the requested resource."
                                                                                     },
                                                                             "404":  {
                                                                                         "description":  "Not Found. The requested resource does not exist."
                                                                                     },
                                                                             "429":  {
                                                                                         "description":  "Rate Limited. Too many requests."
                                                                                     },
                                                                             "500":  {
                                                                                         "description":  "Unexpected error"
                                                                                     }
                                                                         }
                                                       },
                                               "put":  {
                                                           "operationId":  "API Connection - Software I.A/aiTraining/newModel|PUT",
                                                           "summary":  "Edit the training text block for the account\u0027s virtual assistant. This only works for assistants using the new model.\n\nEdite o bloco de texto de treinamento para o assistente virtual da conta. Só funciona para assistentes do novo modelo.",
                                                           "description":  "Edit the training text block for the account\u0027s virtual assistant. This only works for assistants using the new model.\n\nEdite o bloco de texto de treinamento para o assistente virtual da conta. Só funciona para assistentes do novo modelo.\n\u003cbr /\u003e\u003cbr /\u003e\n\u003cb\u003eAuthentication:\u003c/b\u003e not required",
                                                           "tags":  [
                                                                        "aiTraining"
                                                                    ],
                                                           "security":  [

                                                                        ],
                                                           "parameters":  [

                                                                          ],
                                                           "responses":  {
                                                                             "200":  {
                                                                                         "description":  "Success!",
                                                                                         "content":  {
                                                                                                         "application/json":  {
                                                                                                                                  "schema":  {
                                                                                                                                                 "type":  "object",
                                                                                                                                                 "properties":  {
                                                                                                                                                                    "id":  {
                                                                                                                                                                               "type":  "integer",
                                                                                                                                                                               "format":  "int64",
                                                                                                                                                                               "description":  ""
                                                                                                                                                                           },
                                                                                                                                                                    "text":  {
                                                                                                                                                                                 "type":  "string",
                                                                                                                                                                                 "description":  ""
                                                                                                                                                                             },
                                                                                                                                                                    "markdownText":  {
                                                                                                                                                                                         "type":  "string",
                                                                                                                                                                                         "description":  ""
                                                                                                                                                                                     }
                                                                                                                                                                }
                                                                                                                                             }
                                                                                                                              }
                                                                                                     }
                                                                                     },
                                                                             "400":  {
                                                                                         "description":  "Input Error. Check the request payload for issues."
                                                                                     },
                                                                             "401":  {
                                                                                         "description":  "Unauthorized"
                                                                                     },
                                                                             "403":  {
                                                                                         "description":  "Access denied. Additional privileges are needed access the requested resource."
                                                                                     },
                                                                             "404":  {
                                                                                         "description":  "Not Found. The requested resource does not exist."
                                                                                     },
                                                                             "429":  {
                                                                                         "description":  "Rate Limited. Too many requests."
                                                                                     },
                                                                             "500":  {
                                                                                         "description":  "Unexpected error"
                                                                                     }
                                                                         },
                                                           "requestBody":  {
                                                                               "content":  {
                                                                                               "application/json":  {
                                                                                                                        "schema":  {
                                                                                                                                       "type":  "object",
                                                                                                                                       "properties":  {
                                                                                                                                                          "fullText":  {
                                                                                                                                                                           "type":  "string",
                                                                                                                                                                           "description":  "Text to be saved in the training block.\n\nTexto que será salvo no bloco de treinamento."
                                                                                                                                                                       }
                                                                                                                                                      },
                                                                                                                                       "required":  [
                                                                                                                                                        "fullText"
                                                                                                                                                    ]
                                                                                                                                   }
                                                                                                                    },
                                                                                               "multipart/form-data":  {
                                                                                                                           "schema":  {
                                                                                                                                          "type":  "object",
                                                                                                                                          "properties":  {
                                                                                                                                                             "fullText":  {
                                                                                                                                                                              "type":  "string",
                                                                                                                                                                              "description":  "Text to be saved in the training block.\n\nTexto que será salvo no bloco de treinamento."
                                                                                                                                                                          }
                                                                                                                                                         },
                                                                                                                                          "required":  [
                                                                                                                                                           "fullText"
                                                                                                                                                       ]
                                                                                                                                      }
                                                                                                                       }
                                                                                           }
                                                                           }
                                                       }
                                           },
                  "/calendar/avaibleTimeSlots":  {
                                                     "get":  {
                                                                 "operationId":  "API Connection - Software I.A/calendar/avaibleTimeSlots|GET",
                                                                 "summary":  "Searches for available time slots for a given calendar.\n\nBusca intervalos de horários disponíveis para um determinado calendário.",
                                                                 "description":  "Searches for available time slots for a given calendar.\n\nBusca intervalos de horários disponíveis para um determinado calendário.\n\u003cbr /\u003e\u003cbr /\u003e\n\u003cb\u003eAuthentication:\u003c/b\u003e not required",
                                                                 "tags":  [
                                                                              "calendar"
                                                                          ],
                                                                 "security":  [

                                                                              ],
                                                                 "parameters":  [
                                                                                    {
                                                                                        "name":  "calendarId",
                                                                                        "in":  "query",
                                                                                        "description":  "ID of the calendar you want to get available slots for.\n\nID do calendário que deseja obter intervalos disponíveis.",
                                                                                        "required":  true,
                                                                                        "schema":  {
                                                                                                       "type":  "integer",
                                                                                                       "format":  "int64"
                                                                                                   }
                                                                                    },
                                                                                    {
                                                                                        "name":  "daysToShow",
                                                                                        "in":  "query",
                                                                                        "description":  "Number of days from the current date to search for available time slots. The calendar default value will be considered if not specified.\n\nQuantidade de dias a partir da data atual para buscar intervalos disponíveis. Será considerado o valor padrão do calendário caso não seja informado.",
                                                                                        "required":  false,
                                                                                        "schema":  {
                                                                                                       "type":  "integer",
                                                                                                       "format":  "int64",
                                                                                                       "default":  "0"
                                                                                                   }
                                                                                    },
                                                                                    {
                                                                                        "name":  "slotSize",
                                                                                        "in":  "query",
                                                                                        "description":  "Time in minutes of the slot you want to check availability for. The calendar default value will be considered if not specified.\n\nTempo em minutos do slot que deseja buscar disponibilidade. Será considerado o valor padrão do calendário caso não seja informado.",
                                                                                        "required":  false,
                                                                                        "schema":  {
                                                                                                       "type":  "integer",
                                                                                                       "format":  "int64",
                                                                                                       "default":  "0"
                                                                                                   }
                                                                                    }
                                                                                ],
                                                                 "responses":  {
                                                                                   "200":  {
                                                                                               "description":  "Success!",
                                                                                               "content":  {
                                                                                                               "application/json":  {
                                                                                                                                        "schema":  {
                                                                                                                                                       "type":  "object",
                                                                                                                                                       "properties":  {

                                                                                                                                                                      }
                                                                                                                                                   }
                                                                                                                                    }
                                                                                                           }
                                                                                           },
                                                                                   "400":  {
                                                                                               "description":  "Input Error. Check the request payload for issues."
                                                                                           },
                                                                                   "401":  {
                                                                                               "description":  "Unauthorized"
                                                                                           },
                                                                                   "403":  {
                                                                                               "description":  "Access denied. Additional privileges are needed access the requested resource."
                                                                                           },
                                                                                   "404":  {
                                                                                               "description":  "Not Found. The requested resource does not exist."
                                                                                           },
                                                                                   "429":  {
                                                                                               "description":  "Rate Limited. Too many requests."
                                                                                           },
                                                                                   "500":  {
                                                                                               "description":  "Unexpected error"
                                                                                           }
                                                                               }
                                                             }
                                                 },
                  "/calendar/events":  {
                                           "delete":  {
                                                          "operationId":  "API Connection - Software I.A/calendar/events|DELETE",
                                                          "summary":  "Delete Events record.\n\nDeleta Eventos.",
                                                          "description":  "Delete Events record.\n\nDeleta Eventos.\n\u003cbr /\u003e\u003cbr /\u003e\n\u003cb\u003eAuthentication:\u003c/b\u003e not required",
                                                          "tags":  [
                                                                       "calendar"
                                                                   ],
                                                          "security":  [

                                                                       ],
                                                          "parameters":  [

                                                                         ],
                                                          "responses":  {
                                                                            "200":  {
                                                                                        "description":  "Success!",
                                                                                        "content":  {
                                                                                                        "application/json":  {
                                                                                                                                 "schema":  {
                                                                                                                                                "type":  "object",
                                                                                                                                                "description":  ""
                                                                                                                                            }
                                                                                                                             }
                                                                                                    }
                                                                                    },
                                                                            "400":  {
                                                                                        "description":  "Input Error. Check the request payload for issues."
                                                                                    },
                                                                            "401":  {
                                                                                        "description":  "Unauthorized"
                                                                                    },
                                                                            "403":  {
                                                                                        "description":  "Access denied. Additional privileges are needed access the requested resource."
                                                                                    },
                                                                            "404":  {
                                                                                        "description":  "Not Found. The requested resource does not exist."
                                                                                    },
                                                                            "429":  {
                                                                                        "description":  "Rate Limited. Too many requests."
                                                                                    },
                                                                            "500":  {
                                                                                        "description":  "Unexpected error"
                                                                                    }
                                                                        },
                                                          "requestBody":  {
                                                                              "content":  {
                                                                                              "application/json":  {
                                                                                                                       "schema":  {
                                                                                                                                      "type":  "object",
                                                                                                                                      "properties":  {
                                                                                                                                                         "events_id":  {
                                                                                                                                                                           "type":  "array",
                                                                                                                                                                           "items":  {
                                                                                                                                                                                         "type":  "integer",
                                                                                                                                                                                         "format":  "int64",
                                                                                                                                                                                         "description":  "List of event IDs that will be deleted.\n\nLista de ID dos eventos que serão deletados."
                                                                                                                                                                                     },
                                                                                                                                                                           "minItems":  "1",
                                                                                                                                                                           "maxItems":  "0"
                                                                                                                                                                       }
                                                                                                                                                     }
                                                                                                                                  }
                                                                                                                   },
                                                                                              "multipart/form-data":  {
                                                                                                                          "schema":  {
                                                                                                                                         "type":  "object",
                                                                                                                                         "properties":  {
                                                                                                                                                            "events_id":  {
                                                                                                                                                                              "type":  "array",
                                                                                                                                                                              "items":  {
                                                                                                                                                                                            "type":  "integer",
                                                                                                                                                                                            "format":  "int64",
                                                                                                                                                                                            "description":  "List of event IDs that will be deleted.\n\nLista de ID dos eventos que serão deletados."
                                                                                                                                                                                        },
                                                                                                                                                                              "minItems":  "1",
                                                                                                                                                                              "maxItems":  "0"
                                                                                                                                                                          }
                                                                                                                                                        }
                                                                                                                                     }
                                                                                                                      }
                                                                                          }
                                                                          }
                                                      },
                                           "get":  {
                                                       "operationId":  "API Connection - Software I.A/calendar/events|GET",
                                                       "summary":  "Search events from a calendar.\n\nBusca eventos de um calendário.",
                                                       "description":  "Search events from a calendar.\n\nBusca eventos de um calendário.\n\u003cbr /\u003e\u003cbr /\u003e\n\u003cb\u003eAuthentication:\u003c/b\u003e not required",
                                                       "tags":  [
                                                                    "calendar"
                                                                ],
                                                       "security":  [

                                                                    ],
                                                       "parameters":  [
                                                                          {
                                                                              "name":  "dateStart",
                                                                              "in":  "query",
                                                                              "description":  "Start date of the range you want to filter.\n\nData de início do intervalo que deseja filtrar.",
                                                                              "required":  false,
                                                                              "schema":  {
                                                                                             "type":  "number",
                                                                                             "format":  "timestamptz",
                                                                                             "default":  null
                                                                                         }
                                                                          },
                                                                          {
                                                                              "name":  "dateEnd",
                                                                              "in":  "query",
                                                                              "description":  "End date of the range you want to filter.\n\nData final do intervalo que deseja filtrar.",
                                                                              "required":  false,
                                                                              "schema":  {
                                                                                             "type":  "number",
                                                                                             "format":  "timestamptz",
                                                                                             "default":  null
                                                                                         }
                                                                          },
                                                                          {
                                                                              "name":  "page",
                                                                              "in":  "query",
                                                                              "description":  "List page you want to query.\n\nPágina da lista que você deseja consultar.",
                                                                              "required":  false,
                                                                              "schema":  {
                                                                                             "type":  "integer",
                                                                                             "format":  "int64",
                                                                                             "default":  "1"
                                                                                         }
                                                                          },
                                                                          {
                                                                              "name":  "perPage",
                                                                              "in":  "query",
                                                                              "description":  "Items per page.\n\nItens por página.",
                                                                              "required":  false,
                                                                              "schema":  {
                                                                                             "type":  "integer",
                                                                                             "format":  "int64",
                                                                                             "default":  "1"
                                                                                         }
                                                                          },
                                                                          {
                                                                              "name":  "phoneNumber",
                                                                              "in":  "query",
                                                                              "description":  "Phone number to filter events. If provided, the search will only return events that have the number indicated as a participant.\n\nNúmero de telefone para filtrar eventos. Se informado a busca retornará apenas eventos que possuem o número indicado como participante.",
                                                                              "required":  false,
                                                                              "schema":  {
                                                                                             "type":  "string",
                                                                                             "default":  ""
                                                                                         }
                                                                          }
                                                                      ],
                                                       "responses":  {
                                                                         "200":  {
                                                                                     "description":  "Success!",
                                                                                     "content":  {
                                                                                                     "application/json":  {
                                                                                                                              "schema":  {
                                                                                                                                             "type":  "object",
                                                                                                                                             "properties":  {

                                                                                                                                                            }
                                                                                                                                         }
                                                                                                                          }
                                                                                                 }
                                                                                 },
                                                                         "400":  {
                                                                                     "description":  "Input Error. Check the request payload for issues."
                                                                                 },
                                                                         "401":  {
                                                                                     "description":  "Unauthorized"
                                                                                 },
                                                                         "403":  {
[...]
